.about-main {
  margin-bottom: 10rem;
}

.about-title {
  text-align: center;
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.about-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  font-size: 2rem;
  margin-left: 100px;
  margin-right: 100px;
}

.about-info img {
  margin-top: 20px;
  height: 500px;
  width: 800px;
}

.about-main {
  margin-bottom: 5rem;
}

.about-logos {
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: transform 0.5s ease;
}

.about-logos-main {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.about-logos p {
  margin-top: 1rem;
}

.leetcode:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.gfg:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.codechef:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media (max-width: 800px) {
  .about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    text-align: justify;
    letter-spacing: -0.2px;
  }

  
  .about-info img {
    margin-top: -150px;
    height: 400px;
    width: 350px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .about-logos-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
