.contact-heading h1 {
  text-align: center;
  color: #2d2e32;
  font-size: 2.5rem;
  margin: 2rem;
}

.contact-s-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icons-1 {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.contact-icons-2 {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.contact-icons-1 span {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #147efb;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;
}

.contact-icons-2 span {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #147efb;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8rem;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.contact__info h3 {
  margin: 0;
}

.contact-info p {
  margin: 0;
}

.contact-p {
  margin: 0;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__info p:hover {
  color: #147efb;
  cursor: pointer;
}

.contact__info a:hover {
  color: #147efb;
  cursor: pointer;
}

@media (max-width: 800px) {
  .contact-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .contact-icons-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact-icons-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact__info h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
