nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  width: 100%;
  font-size: 1.3rem;
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
}

.dark-mode-button {
  margin: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  color: #2d2e32;
  font-weight: 600;
  padding-right: 40px;
  cursor: pointer;
  margin: 6px;
}

* {
  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
}

.logo {
  color: #2d2e32;
  cursor: pointer;
  padding-left: 20px;
}

nav .hamburger-menu-main {
  margin-top: -5px;
  cursor: pointer;
  display: none;
}

.off-screen-menu {
  display: none;
}

.hamburger-menu {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.off-screen-list {
  list-style: none;
}

.moblist-icons:hover {
  text-decoration: inherit;
}
@media (max-width: 800px) {
  nav .header-list {
    display: none;
  }
  .off-screen-menu {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 300;
    font-size: 2rem;
  }

  .off-screen-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 2rem;
  }

  .cross {
    color: black;
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
    cursor: pointer;
  }

  .close-menu {
    left: -100%;
  }

  .open-menu {
    left: 0;
  }

  nav .hamburger-menu-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1300px){
  nav {
    font-size: 1.15rem;
  }
}
