.dark-mode {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  width: 100%;
  font-size: 1.5rem;
  height: auto;
  right: 0;
}

.dark-mode-button-dark {
  margin: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(247, 244, 244);
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  color: white;
  height: 3rem;
}

.header-list-dark-mode {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  color: #fff;
  font-weight: 600;
  padding-right: 40px;
  cursor: pointer;
  margin: 6px;
}

* {
  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
}

.logo-dark {
  color: #fff;
  cursor: pointer;
  padding-left: 20px;
}

li:hover {
  color: rgb(83, 83, 243);
}

.hamburger-menu-dark {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .hamburger-menu-main-dark {
  margin-top: -5px;
  cursor: pointer;
  display: none;
}

.off-screen-menu-dark {
  display: none;
}

.off-screen-list {
  list-style: none;
}

.moblist-icons:hover {
  text-decoration: inherit;
}
@media (max-width: 800px) {
  nav .header-list-dark-mode {
    display: none;
  }
  .off-screen-menu-dark {
    background-color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 300;
    font-size: 2rem;
  }

  .off-screen-menu-dark ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 40px;
    margin-right: 2rem;
  }

  .cross-dark {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
    color: white;
    cursor: pointer;
  }

  .close-menu-dark {
    left: -100%;
  }

  .open-menu-dark {
    left: 0;
  }

  nav .hamburger-menu-main-dark {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
