.hero-section-1-dark {
  margin-top: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin-bottom: 8rem;
}

.hero-section-1-dark h1 {
  color: white;
  font-size: 3.5rem;
}

.hero-banner {
  width: 700px;
  height: 600px;
  border-radius: 10px;
}

.hero-text-dark {
  display: flex;
  flex-direction: column;
}

.hero-text-dark h1 {
  margin: 0;
}
.sub-text-dark  {
  font-size: 1.5rem;
  color: white;
}

.resume-btn-dark {
  width: max-content;
  font-weight: 500;
  padding: 10px;
  height: max-content;
  text-align: center;
  background-color: #efeeee;
  color: #333;
  cursor: pointer;
  border-radius: 6px;
  font-family: Google Sans Regular;
  border: white solid 2px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.resume-btn-dark:hover {
  background-color: #333;
  color: white;
}

.hero-socials {
  padding-top: 30px;
  display: flex;
  border-radius: 20px;
  gap: 1rem;
  cursor: pointer;
  transition: transform 0.5s ease;
  transition: color 0.3s ease;
}

a {
  text-decoration: none;
}

.hero-linkedin:hover {
  transform: scale(1.2);
  color: rgb(83, 83, 243);
}
.hero-github:hover {
  transform: scale(1.2);
  color: rgb(83, 83, 243);
}

@media (max-width: 800px) {
  .hero-section-1 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    gap: 5rem;
    align-items: center;
    margin-bottom: 8rem;
  }

  .hero-banner {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .hero-section-1 h1 {
    text-align: justify;
  }

  .hero-socials {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resume-btn {
    margin: auto;
  }
}

@media (max-width: 1300px) {
  .hero-section-1-dark {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    gap: 5rem;
    align-items: center;
    margin-bottom: 8rem;
  }

  .hero-banner {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .hero-section-1 h1 {
    text-align: justify;
  }

  .hero-socials {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resume-btn-dark {
    margin: auto;
  }
}
