.hero-section-1 {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 4rem;
  align-items: center;
  margin-bottom: 10rem;
}

.hero-section-1 h1 {
  color: #2d2e32;
  font-size: 3.5rem;
}

.hero-banner {
  width: 700px;
  height: 500px;
  border-radius: 10px;
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-text h1 {
  margin: 0;
}
.sub-text {
  font-size: 1.5rem;
}

.resume-btn {
  width: max-content;
  font-weight: 500;
  padding: 10px;
  height: max-content;
  text-align: center;
  background-color: #545461;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-family: Google Sans Regular;
  border: #545461 solid 2px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.resume-btn:hover {
  background-color: white;
  color: #2d2e32;
}

.hero-socials {
  padding-top: 30px;
  display: flex;
  border-radius: 20px;
  gap: 1rem;
  cursor: pointer;
  transition: transform 0.5s ease;
  transition: color 0.3s ease;
}

a {
  text-decoration: none;
}

.hero-linkedin:hover {
  transform: scale(1.2);
  color: rgb(83, 83, 243);
}
.hero-github:hover {
  transform: scale(1.2);
  color: rgb(83, 83, 243);
}

@media (max-width: 800px) {
  .hero-section-1 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: justify;
    gap: 5rem;
    align-items: center;
    margin-bottom: 11rem;
    text-align: justify;
    letter-spacing: 0.3px;
  }

  .hero-banner {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .hero-section-1 h1 {
    letter-spacing: 0px;
    text-align: justify;
  }

  .hero-socials {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resume-btn {
    margin: auto;
  }
}

