.loader-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.blob-2 {
  width: 100px;
  aspect-ratio: 1;
  border: 10px solid #0000;
  background: radial-gradient(farthest-side, #2d2e32 98%, #fff) 0 0/20px 20px,
    radial-gradient(farthest-side, #2d2e32 98%, #fff) 100% 0/20px 20px,
    radial-gradient(farthest-side, #2d2e32 98%, #fff) 100% 100%/20px 20px,
    radial-gradient(farthest-side, #2d2e32 98%, #fff) 0 100%/20px 20px,
    linear-gradient(#2d2e32 0 0) center/40px 40px, #fff; 
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: b2 0.8s infinite;
}

@keyframes b2 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0, center;
  }
}
