.projects-heading {
  display: flex;
  justify-content: center;
  color: #2d2e32;
  font-size: 2.5rem;
  margin: 2rem;
}

.projects-main {
  margin: 4rem;
  display: flex;
  justify-content: center;
  height: 20rem;
}

.projects-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  gap: 3rem;
  font-weight: bold;
}

.projects-filter-div {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.627);
  width: max-content;
  height: max-content;
  padding: 10px;
  cursor: pointer;
}

.projects-filter-div.active {
  background-color: #333;
  color: white;
}

@media (max-width: 800px) {
  .projects-filter {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media (max-width: 1300px) {
  .projects-filter {
    flex-wrap: wrap;
    gap: 1rem;
  }
}